---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import FeaturedGrantee from "../components/FeaturedGrantee.astro";
import EcosystemRow from "../components/EcosystemRow.astro";
import OrgMap from "../components/OrgMap.astro";
import Team from "../components/Team.astro";
import QuestionsCTA from "../components/QuestionsCTA.astro";
import Footer from "../components/Footer.astro";
---

<Layout
  title="Quantum Biology DAO"
  description="A global community advancing quantum biology research."
>
  <Header />
  <main>
    <Hero />
    <FeaturedGrantee />
    <EcosystemRow />
    <OrgMap />
    <Team />
    <QuestionsCTA />
  </main>
  <Footer />
</Layout>
